.pane{
	-fx-background-color:  #0c121a;
}

.button{
	-fx-background-color:  transparent;
	-fx-border-color:  #FFF;
	-fx-border-radius:  10px;
	-fx-font-size: 20px;
}
.button:hover{
	-fx-background-color:  #cf004f;
	-fx-border-color:  #FFF;
	-fx-border-radius:  10px;
	-fx-font-size: 20px;
	-fx-text-fill: #FFF;
	-fx-background-insets: 2 2 2 2, 0, 1, 2;
	-fx-cursor: pointer;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #0c121a;
	-fx-border-color:  #FFF;
	-fx-text-fill: #FFF;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}